<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/LoginStyle.css}"
          href="../css/LoginStyle.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <title>lottoLogin</title>
</head>
<body>

<div class="section">

    <h1>로또 추첨 시스템</h1>

    <!--      로그인 폼 -->
    <div class="loginForm">
    <form id="loginForm" action th:action th:object="" method="post">
            <h4 class="login">Log In</h4>
            <div class="form-group">
                <input type="text" name="logID" class="form-style" placeholder="Your ID" id="logID" autocomplete="off">
            </div>
        <br>

            <div class="loginPw">
                <input type="password" name="logpass" class="form-style" placeholder="Your Password" autocomplete="off">
            </div>
        <br>
        <a href="#" class="btn mt-4">submit</a>
    </form>
    </div>

<!--    회원 가입 바로가기-->
    <div class="SignUpGo">
        <p class="SignUpGo"><a href="LottoSignUp.html" class="link">Sign Up</a></p>
    </div>

<!--    비밀번호 재설정-->
    <div class="ForgotPassword">
        <p class="ForgotPassword"><a href="LottoForgotPassword.html" class="link">Forgot your password?</a></p>
    </div>

</div>
</body>
</html>