<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/templates/css/Login_Signup_ForgotPW_Style.css}"
          href="../css/Login_Signup_ForgotPW_Style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <title>lottoForgotPassword</title>
</head>
<body>
<div class="box_login">

    <fieldset>
        <legend><strong>Forgot Password</strong></legend>

        <!--    회원 가입 form-->
        <div class="form">
            <form action="" method="post">
                <input type="text" maxlength="15" name="memberId" id="memberId" autocomplete="off" title="아이디" placeholder="아이디">
                <input type="password" maxlength="100" name="password" title="비밀번호" placeholder="변경 비밀번호 입력">
                <input type="password" maxlength="100" name="password" title="비밀번호" placeholder="변경 비밀번호 재확인 입력">
                <a class="btn_common lrg blu" href="마이 페이지로 이동하는 경로 넣기">로그인</a>
            </form>
        </div>
    </fieldset>
</div>
</body>
</html>