<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/SignUpStyle.css}"
        href="../css/SignUpStyle.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
  <title>lottoSignUp</title>
</head>

<body>

<div class="section">

  <h1>회원 가입</h1>

  <!--      회원 가입 폼 -->
  <div class="signupForm">
    <form action th:action method="post">
      <h4 class="signup">Sign Up</h4>
      <div class="signupID">
        <input type="text" name="signupID" class="form-style" placeholder="Your ID" id="signupID" autocomplete="off">
      </div>
      <br>
      <div class="signupPassword">
        <input type="password" name="signupPassword" class="form-style" placeholder="Your Password" id="signupPassword" autocomplete="off">
      </div>
      <br>
      <a href="#" class="btn mt-4">submit</a>
    </form>
  </div>

</div>
</body>
</html>