<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/ForgotPassword.css}"
          href="../css/ForgotPassword.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <title>lottoForgotPassword</title>
</head>

<body>

<div class="section">

    <h1>비밀번호 재설정</h1>

    <!--      비밀번호 재설정 폼 -->
    <div class="ForgotPw">
        <form action th:action method="post">
            <h4 class="ForgotID">Forgot Password</h4>
            <div class="form-group">
                <input type="text" name="ForgotID" class="form-style" placeholder="Your ID" id="ForgotID" autocomplete="off">
            </div>
            <br>
            <div class="ForgotPassword">
                <input type="Password" name="ForgotPassword" class="form-style" placeholder="Your Password" id="ForgotPassword" autocomplete="off">
            </div>
            <br>
            <a href="#" class="btn mt-4">submit</a>
        </form>
        <P> 비밀번호를 재설정 해주세요.</P>
    </div>

</div>
</body>
</html>