*{
    font-family: 'Noto Sans KR', sans-serif;
}

.loginForm{
    position: absolute;
    top: 50%;
    left: 45%;
    border: solid 1px gray;
}

.SignUpGo{
    position: absolute;
    top: 70%;
    left: 45%;
}

.ForgotPassword{
    position: absolute;
    top: 70%;
    left: 50%;
}

h1{
    text-align: center;
    margin-top: 400px;
    color: brown;
}