*{
    font-family: 'Noto Sans KR', sans-serif;
}

.signupForm{
    position: absolute;
    top: 50%;
    left: 45%;
    border: solid 1px gray;
}

h1{
    text-align: center;
    margin-top: 400px;
    color: brown;
}